@model DataTransferObject.ForgetPassword.ForgetPasswordDTO

@{
    ViewData["Title"] = "ForgetPassword";
}

<h2>ForgetPassword</h2>

<h4>ForgetPasswordDTO</h4>
<hr />

<!DOCTYPE html>
<html>
<head>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
        });
         
        function ForgetPassword() {
            var obj = {};
            obj.Name = $("#frgUserName").val();
            obj.Password = $("#frgPassword").val();
                var url = '@Url.Action("SaveForgetPasswordDetails", "ForgetPassword")';

                $.ajax({
                    type: "POST",
                    data: { obj: obj },
                    url: url,
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        var url = url;
                        window.location.href = url;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve data.');
                        console.log(thrownError);
                    }
                })
            var url = '@Url.Action("SaveForgetPasswordDetails", "ForgetPassword")';
            window.location.href = url;
        }
    </script>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" id="frgUserName"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" id="frgPassword"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="button" value="Save" class="btn btn-default" onclick="ForgetPassword();"/>
                </div>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
